
<h1>Welcome to Beginner Tamil</h1>
<br>
<p>This website will teach you the basics of Tamil, a Dravidian language spoken by over 75 million people worldwide.</p>
<br>
<p>We'll start with some basic vocabulary, then move on to grammar basics, pronunciation, and cultural insights.</p>
<br>
<p>Let's get started!</p>
<br>
<a href="/modules/basic_vocabulary">Basic Vocabulary</a>
<a href="/modules/grammar_basics">Grammar Basics</a>
<a href="/modules/pronunciation_guide">Pronunciation Guide</a>
<a href="/modules/cultural_insights">Cultural Insights</a>

